@media (max-width: 768px) {
  .signup-container {
    width: 90%
  }

  .signup-form {
    padding: 10px;
   
  }

  
}


.signup-container {
  width: 40%; 
  margin: 0 auto; 
  padding: 20px;
  margin-top: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

   
  